<div *ngIf="customer" class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header">
            <h3 *ngIf="isEditMode">Modifica: {{ customer.name }}</h3>
            <h3 *ngIf="!isEditMode">Crea Nuovo Cliente</h3>
        </div>
        <div class="card-body">
            <form (ngSubmit)="saveCustomer()">
                <div *ngIf="isEditMode && customer.image" class="mb-3">
                    <img [src]="'http://localhost:8080/storage/' + customer.image" class="rounded" width="150">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label" *ngIf="isEditMode">Aggiorna immagine cliente</label>
                    <label for="image" class="form-label" *ngIf="!isEditMode">Carica immagine cliente</label>
                    <input class="form-control" type="file" id="image" (change)="onFileSelected($event)">
                </div>
                <hr>
                <div class="mb-3">
                    <label for="name" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="name" [(ngModel)]="customer.name" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" [(ngModel)]="customer.email" name="email"
                        required>
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Indirizzo</label>
                    <input type="text" class="form-control" id="address" [(ngModel)]="customer.address" name="address"
                        required>
                </div>
                <hr>
                <button type="submit" class="btn btn-primary">Salva Modifiche</button>
                <a [routerLink]="''" class="btn btn-secondary ms-2">Annulla</a>
            </form>
        </div>
    </div>
</div>