/* Rende l'animazione di hover sull'icona fluida */
.icon-wrapper i {
  transition: transform 0.2s ease-in-out;
}

/* Ingrandisce l'icona quando si passa sopra il suo wrapper */
.icon-wrapper:hover i {
  transform: scale(1.5);
}

/* Stile per il contenitore cliccabile dell'icona */
.icon-wrapper {
  display: inline-block;
  padding: 10px; /* Spazio cliccabile extra */
  border-radius: 30%;
  cursor: pointer;
}

/* Sfondo che appare al passaggio del mouse per mostrare l'area cliccabile */
.icon-wrapper:hover {
  background-color: rgba(255, 255, 255, 0.795);
}