<div class="container">
  <div class="sticky-top bg-white pt-2">
    <div class="d-flex justify-content-between align-items-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item active text-success fs-2" aria-current="page">
              CLIENTI
            </li>

        </ol>
      </nav>
      <div>
        <a class="btn btn-success " (click)="newCustomer()">
          <i class="fas fa-plus me-2"></i>Nuovo
        </a>
      </div>
    </div>
    <section class="mt-4 rounded-top bg-success pt-1">
      <table class="table table-hover">
        <thead class="rounded-top">
          <tr>
            <th class="col-1 bg-success text-white">Foto<i class="fas fa-images ms-2 text-white"></i></th>
            <th class="col-1 bg-success text-white">ID<i class="fas fa-id-badge ms-2 text-white"></i></th>
            <th class="col-4 bg-success text-white">Nome<i class="fas fa-signature ms-2 text-white"></i></th>
            <th class="col-4 bg-success text-white">E-mail<i class="fas fa-envelope ms-2 text-white"></i></th>
            <th class="col-2 bg-success text-white text-end">Azioni<i class="fas fa-pen-to-square ms-2 text-white"></i></th>
          </tr>
        </thead>
        @if (customerList.length > 0) {
          <tbody>
            <tr *ngFor="let c of customerList" (click)="showCustomerDetail(c)" class="table-light align-middle"
            title="Dettaglio cliente"
            style="cursor: pointer;">
            <td>
              <img [src]="customerService.storageUrl + c.image" class="rounded-circle me-3" alt="{{ c.name }}" width="50" height="50" />
            </td>
            <td>
              {{ c.id }}
            </td>
            <td>
              <strong>
                {{ c.name }}
              </strong>
            </td>
            <td>
              <p class="mb-1">
                {{ c.email }}
              </p>
            </td>
            <td class="text-end">
              <span class="icon-wrapper" (click)="editCustomer(c, $event)" title="Modifica cliente">
                <i class="fas fa-pen text-primary-emphasis"></i>
              </span>
              <span class="icon-wrapper" (click)="deleteCustomer(c, $event)" title="Elimina cliente">
                <i class="fas fa-trash-can text-danger"></i>
              </span>
            </td>
          </tr>
        </tbody>
      } @else {
        <tbody class="table-light align-middle">
          <tr>
            <td colspan="5" class="text-center">
              <div class="text-success">
                <span>Clienti non presenti in archivio</span>
              </div>
            </td>
          </tr>
        </tbody>
      }
    </table>
  </section>
  </div>